.formHeader {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.formHeader label {
    font-weight: 500;
    font-size: 1em;
}

.formHeader input {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.35em;
    width: 100%;
    margin-top: 0.45em;
    font-size: 1em;
}

.switch {
    background: #e1ebf0;
    border: 1px solid #e1ebf0;
    border-radius: 0.35em;
    padding: 0.3em 1em;
    cursor: pointer;
    margin-right: 0.5em;
}

.switch.active {
    background: #00c472;
    color: #fff;
    border-color: #00c472;
}

.switch.descActive {
    background: #ff955c;
    color: #fff;
    border-color: #ff955c;
}

.fieldTitle {
    font-size: 1.35em;
    font-weight: 600;
    margin: 1.3em 0 0.8em 0;
}

.field {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.fieldSubtitle {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 0.5em;
}

.description {
    margin-top: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    min-height: 4em;
    resize: vertical;
    width: 100%;
    font-size: 1em;
}
