name: Unit tests check on develop branch

on:
    push:
        branches:
            - develop
    pull_request:
        branches:
            - develop

jobs:
    backend-tests:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "20.x"
                  cache: "npm"
                  cache-dependency-path: backend/package-lock.json

            - name: Install dependencies
              run: npm ci
              working-directory: ./backend

            - name: Build project
              run: npm run build
              working-directory: ./backend

            - name: Run unit tests
              run: npm test
              working-directory: ./backend

            - name: Run tests with coverage
              run: npm run test:ui:coverage
              working-directory: ./backend
